.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 92px;
}

.u-section-1 .u-text-1 {
  margin: 20px 1017px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 817px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 597px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 417px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 217px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/1589248812_518988.jpeg");
}

.u-section-2 .u-sheet-1 {
  min-height: 200px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 126px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 287px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 687px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 570px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 687px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 60px 50px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
}

.u-section-3 .u-form-1 {
  height: 454px;
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-3 .u-form-group-1 {
  margin-left: auto;
}

.u-section-3 .u-form-group-2 {
  margin-left: auto;
}

.u-section-3 .u-form-group-3 {
  margin-left: auto;
}

.u-section-3 .u-form-group-4 {
  margin-left: auto;
  margin-right: 0;
}

.u-section-3 .u-form-group-5 {
  margin-left: auto;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: auto;
  letter-spacing: normal;
}

.u-section-3 .u-group-1 {
  width: 527px;
  min-height: 453px;
  height: auto;
  margin: -570px 0 117px auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 16px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 16px auto 0 0;
  padding: 10px 45px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 470px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 566px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-3 .u-group-1 {
    margin-top: 170px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-group-1 {
    width: 452px;
    margin-bottom: 36px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding: 50px;
  }

  .u-section-3 .u-group-1 {
    width: 383px;
    min-height: 417px;
    margin-bottom: 117px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-3 .u-group-1 {
    min-height: 421px;
    margin-top: 300px;
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }
}
